<h2>Add Personnel</h2>

<form method="POST" action="/add_personnel">
    <input name="Sr_no" placeholder="Sr No"><br>
    <input name="Police_Station" placeholder="Police Station"><br>
    <input name="Outpost" placeholder="Outpost"><br>
    <input name="Rank" placeholder="Rank"><br>
    <input name="Batch_No" placeholder="Batch No"><br>
    <input name="Name" placeholder="Name"><br>
    <input type="date" name="Posting_Date"><br>
    <input name="Work_Profile" placeholder="Work Profile"><br>
    <input name="Mobile_number" placeholder="Mobile"><br>
    <input name="Remark" placeholder="Remark"><br>

    <button type="submit">Save</button>
</form>
