<h2 style="text-align:center;">Admin Panel</h2>
<div style="width:80%; margin:auto; text-align:right;">
    <a href="/admin/logout" style="
        background:red;
        color:white;
        padding:8px 12px;
        border-radius:6px;
        text-decoration:none;
    ">
        Logout
    </a>
</div>

<h3>Complaints</h3>
<table border="1" style="width:80%; margin:auto;">
<tr>
    <th>Name</th>
    <th>Message</th>
    <th>Action</th>
</tr>

{% for row in complaints %}
<tr>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>
        <form action="/delete/complaint/{{ row[0] }}" method="POST" onsubmit="return confirm('Delete?')">
            <button type="submit" style="background:red; color:white;">
                Delete
            </button>
        </form>
    </td>
</tr>
{% endfor %}
</table>


<h3>Queries</h3>
<table border="1" style="width:80%; margin:auto;">
<tr>
    <th>Name</th>
    <th>Message</th>
    <th>Action</th>
</tr>

{% for row in queries %}
<tr>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>
        <form action="/delete/query/{{ row[0] }}" method="POST" onsubmit="return confirm('Delete?')">
            <button type="submit" style="background:red; color:white;">
                Delete
            </button>
        </form>
    </td>
</tr>
{% endfor %}
</table>
