<h2 style="text-align:center;">Select Village</h2>
<div style="text-align:center; margin-top:20px;">
    <select onchange="goToVillage(this.value)" style="
        padding:10px;
        width:250px;
        border-radius:5px;
        border:1px solid #ccc;
    ">
        <option value="">Select Village</option>
        {% for v in villages %}
            <option value="{{ v }}">{{ v.capitalize() }}</option>
        {% endfor %}
    </select>
</div>

<script>
function goToVillage(v){
    if(v){
        window.location.href = "/village/" + v;
    }
}
</script>
